/* Global Reset */ 

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

$primary: #47EAC8;
$second: #E6E6E6;

::selection
{
   background: $primary;
}

/* Font */ 

@font-face 
{
    font-family: 'Simplon-Bold';
    src: url(/fonts/SimplonBP-Bold.woff2);
}

@font-face 
{
    font-family: 'Simplon-Regular';
    src: url(/fonts/SimplonBPRegular.woff2);
}


/* Body */ 

body 
{   
    font-family: 'Simplon-Regular', sans-serif;
    width: 100%;
    min-height: 100vh;
}


/* Header */ 

header 
{   
    position: fixed;
    top: 0;
    z-index: 50;
    left: 0;
    width: 100%;
    background: #fff;
    .container-flex 
    {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        width: 100%;
        height: 70px;
        padding: 0 1rem;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.1);

        .logo 
        { 
            img 
            {
                width: 130px;
                height: auto;
                display: inline-block;
                
               
            }
        } 

        /* Menu Toggle */ 
        .menu-toggle 
        {

            margin-right: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .menu-icon 
            {
                width: 30px;
                height: auto;
                display: block;
                position: relative;    
            } 

            .language 
            {
                margin-right: 2rem;
                display: inline-block;
                font-size: 1rem;
                font-weight: bold;
            }
        }  

        .overlay-bg 
        {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            z-index: 1;
            height: 0px;
            background: rgba(0,0,0,0);
            overflow: hidden;
            transition: overflow .5s ease;
        } 

        .overlay-bg.toggleOverlay 
        {   
            height: 100vh;
            overflow: none;
            background: rgba(0,0,0,.4);
            transition: overflow .5s ease;
        }

        /* Desktop menu */ 
         
        .desktop-menu, 
        .right-share-content

        {
            display: none;
        }
        .mobile-menu 
        {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: auto;
            background: #fff; 
            z-index: 2;
            display: none;

            ul 
            {   

                .list-item 
                {
                    list-style: none;
                    padding: 15px 0 0 0;

                    .item 
                    {
                        text-decoration: none;
                        color: #000;
                        font-weight: normal;
                        font-size: 16.64px;
                       padding-left: 1rem; 
                       display: block;
                       padding-bottom: 5px;
                       
                    } 

                    .active-buy 
                    {
                        background: $primary;
                        display: block; 
                        padding-bottom: 0;
                        padding: .6rem 1rem;
                        font-weight: normal;
                    }
                }
            } 
            
            .sub,
            .sub-two, 
            .sub-three, 
            .sub-four
            {
                background: $second;
                padding-left: 2rem;        
                margin-top: 1rem;
                display: none;

                li 
                {
                    list-style: none;
                    padding: 10px; 

                    a 
                    {
                        text-decoration: none;
                        color: #000;
                        font-weight: normal;
                        font-size: 16.64px;
                    }
                }
            } 

            .sub.toggle-subMenu 
            {
                display: block;
            } 

            .sub-two.toggle-subMenu-two 
            {
                display: block;
            } 

            .sub-three.toggle-subMenu-three 
            {
                display: block;
            } 

            .sub-four.toggle-subMenu-four 
            {
                display: block;
            }
            .media-links 
            {   
                background: $second;
                padding: 1rem 0;
                ul 
                {   
                    padding-left: 1rem;
                    li 
                    {
                        display: inline-block;
                        padding: 8px; 

                        a 
                        {
                            text-decoration: none;
                            color: #000;
                            font-size: 1.3rem; 

                            i 
                            {
                                font-weight: normal;
                            }
                        }
                    }
                }

                .heading 
                {   

                    font-weight: normal;
                    a 
                    {
                        padding-left: 5px;
                    }
                }
            }
        } 

        .mobile-menu.toggleMenu 
        {
            display: block;
        }

    }
}














/* Footer */ 

/* Footer */
footer 
{   
    padding-top: 2rem;
    background: #f2f2f2;
    .footer-container-flex 
    {


        .links-footer 
        {
            width: 100%;
            height: auto;
            margin: 0 auto;
            text-align: center;

            a 
            {
                text-decoration: none;
                display: inline-block;
                font-family: 'Simplon-bold', sans-serif;
                color: #000;
                font-weight: bold;
                line-height: 4.2;
                margin: 0 8px;
                font-size: 14px;
            }
        }

        .media-links 
        {
            text-align: center;
            margin-top: 2rem; 
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            p 
            {
                display: block;
                font-size: .9rem;
            }

            .links 
            {   
                margin-top: 1rem;
                li 
                {
                    list-style: none;
                    display: inline-block;
                    padding: 20px;

                    a 
                    {
                        text-decoration: none;
                        color: #000;
                        font-size: 1.5rem;
                        display: inline-block;

                        i 
                        {
                            &:hover 
                            {
                                color: #888;
                            }
                        }
                    }
                }
            }
        } 

        .cta
        {
            text-decoration: none;
            text-align: center;
            text-decoration: none;
            background: #343A40;
            color: #f2f2f2;
            padding: 15px 40px;
            font-weight: normal;
            font-family: 'Simplon-bold', sans-serif;
            display: block;
            max-width: 230px;
            margin: 0 auto;
            margin-top: 1rem;
            border: 3px solid #343a40;
            &:hover 
            {
                border: 3px solid #343a40;
                background: transparent;
                color: #343a40;
            }
        }
    }
}






/* Responsive on different screen sizes*/ 
@media(min-width: 768px) 
{
    footer 
    {   
        padding: 3rem 0;
        .footer-container-flex 
        {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 0 !important; 
            margin: 0 !important;
            
            .links-footer 
            {
                max-width: 28%;
            }

            .media-links 
            {
                margin: 0;
                
                
            }
        }
    }
}

@media(min-width: 990px) 
{
    footer 
    {
        .footer-container-flex 
        {
            display: flex;
            justify-content: space-between !important;
            align-items: center;
            padding: 0 !important; 
            margin: 0 !important;
            max-width: 1400px !important;
            margin: 0 auto !important;
            
            .links-footer 
            {
                width: 100% !important;
            }

            .media-links 
            {
                margin: 0;
                
                
            }
        }
    }
}



@media (min-width: 1232px) 
{

.policy ,
footer .footer-container-flex , 
.linker .container-flex

 {
   max-width: 60%;
   margin: auto;
 } 

.policy .policy-container 
{
    margin-top: 4rem;
    h1 
    {
        font-size: 74.88px;
        margin-top: 3rem;
        margin-bottom: 2rem !important;        }
}

.policy 
{
    padding-top: 5rem !important;
}

.menu .list-item:hover .sub-one-desktop 
{
    display: block;
}

.mobile-menu, 
.menu-toggle,
.overlay-bg 
{
    display: none !important;
}

/* Desktop menu shown */ 

.desktop-menu,
.right-share-content 
{
    display: block !important;
} 

/* Styling desktop menu */ 

header 
{
    .container-flex 
    {
        padding: 0; 

        .logo 
        {
            margin-left: 2rem;
            margin-right: 1rem;
        }
    }
} 

.desktop-one,
.desktop-two,
.desktop-three,
.desktop-four
{
    position: relative;
}

.desktop-menu 
{   
    margin: 0;
    padding: 0;
    flex: start;
    ul 
    {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .list-item 
        {
            list-style: none;
            padding: 26px;
            cursor: pointer;
            margin: 0;
            &:hover 
            {
                background: $second;
            }

            .item 
            {
                font-family: 'Sinplon-bold', sans-serif;
                text-decoration: none;
                 color: #000;
                 font-weight: bold;
                 display: block;
                 cursor: pointer;
                 font-size: 16.64px;
                 margin: 0;
                 padding: 0;

            } 

            .activebg 
            {
                position: relative;
                &:before 
                {
                    content: ''; 
                    position: absolute;
                    top: 195%;
                    width: 100%;
                    height: 6px;
                    background: $primary; 
                }
            }
        }
    } 



    /* Sub Menus For Desktop */ 


    .sub-one-desktop,
    .sub-two-desktop,
    .sub-three-desktop,
    .sub-four-desktop
    {
        position: absolute;
        left: 0%;
        top: 100%; 
        display: block;
        background: $second;
        width: 260px;
        display: none;

        .list-item 
        {
            padding: 15px;
            display: block;
            border-top: 1px solid #fff; 
            transition: background .5s ease;
            &:hover 
            {
                background: $primary;
                transition: background .5s ease;
            }

            .item 
            {
                font-size: 16.64px;
                font-weight: bold;
                font-family: 'Simplon-bold', sans-serif;
                line-height: 1.4;
                
            }
        }
    } 

}  

.desktop-one:hover .sub-one-desktop
{
   display: block;
} 

.desktop-two:hover .sub-two-desktop 
{
    display: block;
} 

.desktop-three:hover .sub-three-desktop 
{
    display: block;
} 

.desktop-four:hover .sub-four-desktop 
{
    display: block;
}

.right-share-content 
{   

    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: none;


    .active-buy 
    {
        text-decoration: none;
        background: $primary;
        font-family: 'Sinplon-bold', sans-serif;
        font-weight: bold;
        padding: 26px 22px; 
        box-shadow: none;
        margin: 0;
        color: #000;
        &:hover 
        {
            background: $second;
        } 
    } 

    .share, .language
    {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        box-shadow: none;
        &:hover 
        {
            background: $second;
        }
    } 

    .share 
    {
        padding: 26px 13px; 

        img {
        width: 18px;
        height: auto 
        }
    } 

    .language 
    {
        padding: 26px;
    }
}
}




/* Showcase */ 

.showcase 
{
    margin-top: 2rem; 
    background: url('../../IMAGES/attendance-showcase.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 22vh; 

    .content 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        
        h2 
        {
            font-weight: normal;
            font-size: 40px;
        }
    }
}
 

/* Main Content */ 

.main-content 
{
    .container-flex 
    {   
        padding: 0 1rem;
        .left
         {
             h2 
             {
                 font-size: 28px;
                 line-height: 33.6px;
                 font-weight: 700;
                 font-family: 'Simplon-bold', sans-serif;
             }

             p 
             {
                 font-size: 16.64px;
                 line-height: 24.96px;
                 text-align: left;
             }

             .btn 
             {
                 background: #343A40;
                 display: inline-block;
                 width: 100%;
                 text-align: center;
                 padding: 10px 0;
                 text-decoration: none; 
                 color: #fff;
                 font-size: 16.64px;
                 font-weight: 400;
                 line-height: 24.96px;
                 border: 4px solid #343A40;
                 &:hover 
                 {
                     background: transparent;
                     color: #343A40;
                 }
             }
         }

         .right 
         {
            .attendance-list 
            {
                border: 12px solid #000;
                padding: 35px;

                .heading 
                {
                    font-size: 22.4px;
                    font-weight: bold;
                    line-height: 26.88px;
                    padding-bottom: 1rem;
                }
                li 
                {
                    list-style: none;
                    font-size: 16.64px;
                    font-weight: bold;
                    padding: 5px;
                    font-family: 'Simplon-bold', sans-serif;
                    
                }
            }
         }
    }
}

/* Breakpoints */ 

@media (min-width: 578px) 
{
    .main-content 
    {
        .container-flex 
        {
            max-width: 550px !important;
            margin: auto;
            margin-top: 4rem;

            .left 
            {
            
                .btn 
                {
                    display: block;
                    text-align: center !important;
                    

                }
            }
        }
    }
}

@media (min-width: 768px) 
{
    .main-content 
    {
        max-width: 80% !important;
        margin: 5rem auto !important;

        .container-flex 
        {
            display: flex;
            justify-content: space-between !important;
            align-items: start;
            max-width: 100% !important;
            padding: 0 2.5rem;
    
      
            .left 
            {
              width: 100% !important;
                .btn 
                {
                    display: block;
                    text-align: center !important;
                    width: 250px;

                }
            }

            .right 
            {
                width: 100% !important;
                align-self: center !important;
            }
        }
    }
}

@media (min-width: 1200px) 
{
    .main-content 
    {
        max-width: 60% !important;
        margin: 5rem auto !important;
        .container-flex 
        {
            display: flex;
            justify-content: space-between !important;
            align-items: center !important;
            max-width: 100% !important;
            padding: 0;
    

            .left 
            {
              width: 600px !important;
                .btn 
                {
                    display: block;
                    text-align: center !important;
                    width: 250px;
                }

                h2
                {
                    font-size: 41.6px;
                    line-height: 49.92px;
                }
            }

            .right 
            {
                width: 350px !important;

                .attendance-list 
                {
                    .heading 
                    {
                        font-size: 26.4px !important; 
                        line-height: 26.88px !important;
                    }
                }
            }
        }
    }
}




/* Talk Showcase */ 
.talk 
{
    padding: 0 1rem;
    margin-top: 2rem;
    
    position: relative;
   img 
   {
       width: 100%;
       height: auto;
   }

   .talk-content    
   {
    margin-top: 3rem;
  
    h2 
    {
        font-size: 41.6px;
        line-height: 49.92px;
        margin-bottom: 4rem;
        font-family: 'Simplon-bold', sans-serif;
        font-weight: 700;
    }

    .content 
    {
        li 
        {
            list-style: none;
            font-size: 16.64px;
            line-height: 24.96px;
            padding-bottom: 15px;
        }
    }
   }

}

/* Breakpoints */ 

@media(min-width: 578px) 
{
    .talk 
    {       
        padding: 0;
        position: relative;
        img 
        {
            height: 80vh;
            background-size: cover;
            width: 100%;
            background-position: center center;
        

        }
        .talk-content 
        {
            background: #fff;
            position: absolute;
            top: 50%;
            width: 550px;
            transform: translate(-50%, -50%);
            left: 45%;
            padding: 30px;
        }
    }
}

@media(min-width: 1020px) 
{
    .talk 
    {       
        padding: 0;
        position: relative;
        img 
        {
            height: 80vh;
            background-size: cover;
            width: 100%;
            background-position: center center;
        

        }
        .talk-content 
        {
            background: #fff;
            position: absolute;
            top: 50%;
            width: 550px;
            transform: translate(-50%, -50%);
            left: 35%;
            padding: 30px;
        }
    }
}

/* Expectations */ 

.expectation
{
    .container-flex 
    {
        padding: 0 1rem;

        .left, .right 
        {
            h2 
            {
                font-size: 22.4px;
                line-height: 26.88px;
                font-weight: 700;
                font-family: 'Simplon-bold', sans-serif;

            }

            p 
            {
                font-size: 16.64px;
                line-height: 24.96px;
            }

        }

        .left 
        {
            .content 
            {
                li 
                {
                    list-style: none;
                    font-size: 16.64px;
                    line-height: 24.96px;
                }
            }
        }
    }
}

/* Breakpoints */ 

@media(min-width: 578px) 
{
    .expectation 
{
    .container-flex 
    {
        width: 500px;
    
    }
}
}

@media(min-width: 768px) 
{
    .expectation 
{
    .container-flex 
    {
       
        padding: 0 3rem;

        .left , .right 
        {
            margin: 4rem 0;
           
        }
    
    }
}
}


@media(min-width: 990px) 
{
    .expectation 
{
    .container-flex 
    {
        display: flex;
        justify-content: space-between !important;
        align-items: start;
        width: 100% !important;
        max-width: 1120px;
        margin: auto;
        padding: 0;

        .left , .right 
        {
            margin: 4rem 0;
            width: 550px !important;

            h2 
            {
                font-size: 29.12px !important;
                line-height: 34.944px;
                margin-bottom: 2rem;
            }

            p , .content li
            {
                font-size: 16.64px;
                line-height: 24.96px;
                color: #212529;
            }
        }
    
    }
}
}





/* Link before footer */ 

.linker
{
    background: $primary;
    width: 100%;
    padding: 25px 1rem;
    margin: 0;

    .link-anchor 
    {
        font-family: 'Simplon-bold', sans-serif;
        font-weight: bold;
        color: #000;
        font-size: 17px;
        line-height: 1.4;
    }
} 

/* Breakpoints */ 

@media(min-width: 768px) 
{
    .services 
    {
        .container-grid 
        {

            display: flex;
            justify-content: center;
            align-items: flex-start;
            max-width: 80%;
            margin: auto;
            .box-one, .box-two , .box-three 
            {
                width: 700px;
                height: auto;
                margin: 0 auto;
            
             } 

             .box-one, .box-two  
             {
                margin-bottom: 4rem;
       
             }
        }
    }
}


@media(min-width: 900px) 
{
    .services 
    {
        margin-bottom: 4rem;
        .container-grid 
        {

            display: flex;
            justify-content: center;
            align-items: flex-start;
    
            max-width: 90%;
            margin: auto;
            .box-one, .box-two , .box-three 
            {
                width: 250px;
                height: auto;
                margin: 0 auto; 

                .content 
                {
                    padding: 2rem 2rem;
                } 

                .internal-box 
                {
                    left: 7%;
                }
            
             } 

             .box-one, .box-two  
             {
                margin-bottom: 4rem;
             }
        }
    } 

    .showcase 
    {
        height: 55vh; 

        .content 
        {
            h2 
            {   
                position: relative;
                font-size: 74.88px;
                font-weight: 500;
                z-index: 2;
                &:before 
                {
                    content: ' ';
                    position: absolute;
                    bottom: 5px;
                    background: $primary;
                    width: 100%;
                    height: 15px;
                    z-index: -1;

                }
            }
        }
    } 


    .main-top 
    {   
        margin-top: 3rem;
        .content 
        {
            max-width: 90%;
            margin: auto;

            h2 
            {
                font-size: 22.4px;
            }
        }
    }

    
}


@media(min-width: 1090px)  
{
    .services 
    {
        margin-bottom: 4rem;
        .container-grid 
        {

            display: flex;
            justify-content: center;
            align-items: flex-start;
     
            max-width: 65%;
            margin: auto;
            .box-one, .box-two , .box-three 
            {
                width: 340px;
                height: auto;
                margin: 0 auto; 

            
             } 

             .box-one, .box-two  
             {
                margin-bottom: 4rem;
             }
        }
    }  

    .main-top 
    {   
        margin-top: 4rem;
        .content 
        {
            max-width: 62%;
            margin: 0 auto;

            h2 
            {
                font-size: 29.12px;
            }
        }
    }

    .showcase 
    {
        background-attachment: fixed;
        background-position: top top !important;
    }
}